#Informazioni{
    margin-top: 20px;
    padding-left: 20px;
}

#Exam_Details, 
#ListaProve,
#Test_Details,
#ListaStudentiIscritti
{
    position: relative;
    left:20px;
}

#button_exam{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    max-width: 100px;
    position:relative;
    left:20px;
    background-color: #f8f8f8;
    color: black;
    border: 1px solid lightgrey;
}

#button_exam:hover{
    background-color:#ddd;
    transition: background-color 0.3s ease;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

table{
    width: 90%;
    border-collapse: collapse;
}

th, td{
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

th{
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

#button_elimina_prova,
#button_modifica_prova {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    max-width: 100px;
    position: relative;
    left: calc(85% - 120px);
    background-color: #f8f8f8;
    color: black;
    border: 1px solid lightgrey;
}

#button_elimina_prova:hover,
#button_modifica_prova:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease;
}
