#Utente {
  margin-top: 50px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input[type="text"] {
  padding:10px;
  font-size: medium;
  width: 300px;
}

.search-bar input[type="submit"] {
  float:right;
  padding-left:20px;
  padding: 10px 20px;
  background-color: #8B0000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: medium;
}

.search-bar input[type="submit"]:hover {
  background-color: #cc0000;
  transition: 0.3s ease;
}

.search-bar button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}