body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.w3-label {
  font-weight: bold;
}

body {
  background-color: #8B0000;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #ff4c4c;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;
}

.form-group label {
  color: #555;
  font-weight: bold;
}

.form-control {
  border-color: #ff4c4c;
}

.btn-primary {
  background-color: #ff4c4c;
  border-color: #ff4c4c;
}

.btn-primary:hover {
  background-color: #cc0000;
  border-color: #cc0000;
}

.university-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  margin-bottom: 20px;
}