#Matricola,
#Docente {
    background-color: orange;
    color: black;
    padding: 20px;
}

.w3-label {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f8f8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

.student-info,
.docente-info {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .student-info p {
    margin: 5px 0;
  }
  
  .student-list {
    position: relative;
}

.student-info {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.student-info:hover {
    background-color: #f0f0f0;
}
