<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/register.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
</head>

<body>
    <h1>Registrazione dell'utente autorizzato</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.name }}
        {{ form.surname }}
        {{ form.cf }}
        {{ form.email }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <a href="{{ url_for('login') }}">Sei già registrato?</a>
</body>