<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/create_exam.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea Esame</title>
</head>
<body>
    <h1 class="w3-container w3-orange">Crea Esame</h1>
    <form id="Crea Esame"> 
        <p>Si prega di inserire i seguenti dati:</p>
        Nome Esame: <input class="w3-input w3-border" style="width:40%"> <br>
        Id Esame: <input class="w3-input w3-border" style="width:40%"> <br>
        <input type="submit" class="w3-btn w3-red w3-hover-green w3-border-black" onclick="alert('Da implementare!')">
    </form>
</body>
</html>