<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/create-modify_exam-test.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea Esame</title>
    
    {% if show_popup %}
    <script>
        window.onload = function() {
            alert("Esame Aggiunto Correttamente");
        };
    </script>
    {% endif %}
</head>

<body>

    <ul>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>


    <div id="Crea_Esame" class="w3-container">
        <h1>Crea Esame</h1>
    </div>

    <form id="Crea Esame" method="POST" action="{{ url_for('routes.create_exam') }}"> 
        <p>Si prega di inserire i seguenti dati:</p>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label(class="w3-label") }}
            {{ form.nome(class="w3-input w3-border", placeholder="Nome") }}
        </div>
        <div class="form-group">
            {{ form.idE.label(class="w3-label") }}
            {{ form.idE(class="w3-input w3-border", placeholder="Id Esame") }}
        </div>
        <div class="form-group">
            {{ form.anno_accademico.label(class="w3-label") }}
            {{ form.anno_accademico(class="w3-input w3-border", placeholder="Anno Accademico") }}
        </div>
        <div class="form-group">
            {{ form.cfu.label(class="w3-label") }}
            {{ form.cfu(class="w3-input w3-border", placeholder="CFU") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="w3-btn w3-red w3-hover-green w3-border-black") }}
        </div>
    </form>
    
</body>
</html>