<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/student.css">
    <link rel="stylesheet" href="../static/goback.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Studente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .student-info {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .student-info:hover {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('routes.homepage') }}">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('routes.create_exam') }}">Crea esame</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('routes.view_exams') }}">Lista esami</a>
        </li>
        <li class="nav-item" style="float:right">
            <a class="nav-link" href="{{ url_for('routes.login') }}">Logout</a>
        </li>
    </ul>

    <div id="Docente" class="container">
        <h1>Lista Docenti</h1>
    </div>
    <br>
    <div id="Lista_docenti" class="container">
        <div class="row">
            {% for docente in lista_docenti %}
                {% if docente.idD != current_user_id %}
                    <div class="col-md-4">
                        <div class="student-info" onclick="addRow('{{ docente.idD }}', '{{ esame.idE }}'); window.location.href='{{ url_for('routes.exam_page', idE=esame.idE) }}'" style="cursor: pointer;">
                            <p>ID: {{ docente.idD }}</p>
                            <p>Nome: {{ docente.nome }}</p>
                            <p>Cognome: {{ docente.cognome }}</p>
                            {% for ruolo in lista_ruoli%}
                                {% if ruolo[0] == docente.idD %}
                                    <p>Ruolo: {{ ruolo[1] }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function addRow(docenteId, examId) {
            var requestBody = {
                docenteId: docenteId,
                examId: examId
            };
        
            fetch('/add_row', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.message === 'Row added successfully') {
                    addTableRow(docenteId, examId, 'Membro');
                }
            })
            .catch(error => {
                console.log('Error:', error);
            });
        }
        
    
        function addTableRow(docenteId, examId, ruolo) {
            var newRow = document.createElement('tr');
            var idCell = document.createElement('td');
            idCell.textContent = docenteId;
            var examIdCell = document.createElement('td');
            examIdCell.textContent = examId;
            var ruoloCell = document.createElement('td');
            ruoloCell.textContent = ruolo;
            newRow.appendChild(idCell);
            newRow.appendChild(examIdCell);
            newRow.appendChild(ruoloCell);
            var tableBody = document.getElementById('membro_table_body');
            tableBody.appendChild(newRow);
        }

    </script>
    
    <button id="goback" onclick="goBack()" class="button-goback btn btn-secondary">Indietro</button>
</body>

</html>
