<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Esame</title>
</head>

<body>

    <ul>
        <li><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Informazioni" class="w3-container">
        <h1>Informazioni sull'esame del corso:</h1>
    </div>

    <div id="Exam_Details">
        <h2>Docenti del corso:</h2>
        {% for docente, role_name in docenti_roles %}
            <p>{{ docente.nome }} {{ docente.cognome }} ({{ role_name }})</p>
        {% endfor %}
        <button id="button_membri" type="button" onclick="window.location.href='{{url_for('routes.docenti_list', idE=esame.idE)}}'">Aggiungi membro</button>
        <button id="button_membri" type="button" onclick="window.location.href='{{url_for('routes.docenti_list', idE=esame.idE)}}'">Elimina membro</button>
        
        
        <h2>Codice del corso: {{ esame.idE }}</h2>
        <p>Nome del corso: {{ esame.nome }}</p>
        <p>Anno Accademico: {{ esame.anno_accademico }}</p>
        <p>CFU: {{ esame.cfu }}</p>
    </div>

    <div id="ListaProve">
        <h3>Lista delle prove:</h3>
        <table>
            <thead>
                <tr>
                    <th>Nome Prova</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for prova in lista_prove %}
                    <tr>
                        <td>{{ prova.nome_prova }}</td>
                        <td>{{ prova.data }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        #ListaProve table {
            border-collapse: collapse;
            width: 100%;
        }
    
        #ListaProve th,
        #ListaProve td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    
        #ListaProve th {
            background-color: #f2f2f2;
        }
    
        #ListaProve tr:hover {
            background-color: #f5f5f5;
        }
    </style>
    
    
    <br>
    <div class="button-container">
        <button id="button_exam" type="button">Modifica esame</button>
        <button id="button_exam" type="button">Elimina esame</button>
        <button id="button_exam" type="button" onclick="window.location.href='{{url_for('routes.create_test', idE=esame.idE)}}'">Aggiungi prova</button>
    </div>
</body>
</html>