<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/homepage.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>

    <ul>
        <li><a class="active" href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Utente" class="w3-container">
        <h1>{{ user.nome }} {{ user.cognome }}</h1>
    </div>

    <div class="search-bar">
        <form action="{{ url_for('routes.search_student') }}" method="POST">
            <input type="text" name="search" placeholder="Cerca matricola">
            <input type="submit" value="Cerca">
        </form>
    </div>

    <!--
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('form').submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                dataType: 'json',  // Specify JSON data type for the response
                success: function(response) {
                    var resultsContainer = $('.search-results');
                    resultsContainer.empty();

                    if (response.length > 0) {
                        var resultList = $('<ul>');

                        $.each(response, function(index, student) {
                            var listItem = $('<li>');
                            listItem.append($('<p>').text('ID: ' + student.id));
                            listItem.append($('<p>').text('Nome: ' + student.nome));
                            listItem.append($('<p>').text('Cognome: ' + student.cognome));

                            resultList.append(listItem);
                        });

                        resultsContainer.append($('<h2>').text('Search Results:'));
                        resultsContainer.append(resultList);
                    } else {
                        resultsContainer.append($('<p>').text('No results found.'));
                    }
                }
            });
        });
    });
</script>


        
        {% if lista_studenti %}
            <h2>Matricole:</h2>
            <ul>
            {% for studente in lista_studenti %}
                <li>
                    <p>ID: {{ studente.idS }}</p>
                    <p>Nome: {{ studente.nome }}</p>
                    <p>Cognome: {{ studente.cognome }}</p>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(response) {
                        $('#search-results').html(response);
                    }
                });
            });
        });
    </script>-->
</body>
</html>