<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<style> 
    body {
      background-image: url("../static/pngs/foto_copertina_sipario_032.jpg");
      
    }
</style>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
    </ul>

    <div id="Utente" class="container">
        <h1>{{ user.nome }} {{ user.cognome }}</h1>
    </div>

    <div class="search-bar">
        <form action="{{ url_for('routes.search_student') }}" method="POST">
            <input type="text" name="search" placeholder="Cerca matricola" class="form-control">
            <input type="submit" value="Cerca" class="btn btn-primary">
        </form>
    </div>

</body>
</html>