<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script src="{{ url_for('static', filename='removepage.js') }}"></script>-->
    <script>
        // Function to replace the current page in browser history
        function removePageFromHistory() {
          if (typeof history.pushState === 'function') {
            history.pushState(null, '', location.href);
            window.addEventListener('popstate', function () {
              history.pushState(null, '', location.href);
            });
          }
        }
      </script>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
</head>

<body onload="removePageFromHistory()">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <img src="../static/pngs/unive_logo.png" alt="University Logo" class="university-logo">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.email.label(class="w3-label") }}
                                {{ form.email(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="w3-label") }}
                                {{ form.password(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class_="btn btn-primary btn-block") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>