<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <link rel="stylesheet" href="../static/create-modify_exam-test.css">
    <link rel="stylesheet" href="../static/goback.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Esame</title>

    {% if show_popup %}
    <script>
        window.onload = function() {
            alert("Esame Modificato Correttamente");
        };
    </script>
    {% endif %}

</head>

<body>

    <ul>
        <li><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Informazioni" class="w3-container">
        <h1>Modifica delle informazioni dell'esame del corso</h1>
    </div>

    <div id="Exam_Details">
        <h2>Queste sono le informazioni attuali:</h2>
        <table>
            <thead>
                <tr>
                    <th>Codice del corso</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ esame.idE }}</td>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Nome del corso</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ esame.nome }}</td>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Anno Accademico</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ esame.anno_accademico }}</td>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>CFU</th>
                </tr>
            </thead>
            <tbody>
                <td>{{ esame.cfu }}</td>
            </tbody>
        </table>

    </div>

    <form method="POST" action="{{ url_for('routes.modify_exam', idE=idE) }}">
        
        <p>Si prega di inserire i seguenti dati:</p>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.nome.label(class="w3-label") }}
            {{ form.nome(class="w3-input w3-border", placeholder="Nome") }}
        </div>
        <div class="form-group">
            {{ form.idE.label(class="w3-label") }}
            {{ form.idE(class="w3-input w3-border", placeholder="Id Esame") }}
        </div>
        <div class="form-group">
            {{ form.anno_accademico.label(class="w3-label") }}
            {{ form.anno_accademico(class="w3-input w3-border", placeholder="Anno Accademico") }}
        </div>
        <div class="form-group">
            {{ form.cfu.label(class="w3-label") }}
            {{ form.cfu(class="w3-input w3-border", placeholder="CFU") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="w3-btn w3-red w3-hover-green w3-border-black") }}
        </div>
    </form>

    <br>
    
    <button id="goback" onclick="goBack()" class="button-goback">Indietro</button>

</body>
</html>