<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/create_exam.css">
    <link rel="stylesheet" href="../static/goback.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Prova</title>
</head>

<body>
    <ul>
        <li><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Create_Test" class="w3-container">
        <h1>Modifica Prova</h1>
    </div>

    <form id="create_test" method="POST" action="{{ url_for('routes.modify_prova', idP=idP) }}">
        <p>Si prega di inserire i seguenti dati:</p>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.idP.label(class="w3-label") }}
            {% if form.enable_edit.data %}
                {{ form.idP(class="w3-input w3-border", placeholder="Id Prova") }}
            {% else %}
                {{ form.idP(class="w3-input w3-border", placeholder="Id Prova", readonly="readonly") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.nome_prova.label(class="w3-label") }}
            {% if form.enable_edit.data %}
                {{ form.nome_prova(class="w3-input w3-border", placeholder="Nome Prova") }}
            {% else %}
                {{ form.nome_prova(class="w3-input w3-border", placeholder="Nome Prova", readonly="readonly") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.tipo_prova.label(class="w3-label") }}
            {% if form.enable_edit.data %}
                {{ form.tipo_prova(class="w3-input w3-border") }}
            {% else %}
                {{ form.tipo_prova(class="w3-input w3-border", disabled="disabled") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.tipo_voto.label(class="w3-label") }}
            {% if form.enable_edit.data %}
                {{ form.tipo_voto(class="w3-input w3-border", placeholder="Tipo Voto") }}
            {% else %}
                {{ form.tipo_voto(class="w3-input w3-border", placeholder="Tipo Voto", readonly="readonly") }}
            {% endif %}
        </div>

        <div class="form-group">
            <p>Valore della prova (in percentuale)</p>
            {% if form.enable_edit.data %}
                {{ form.percentuale(class="w3-input w3-border", placeholder="Percentuale") }}
            {% else %}
                {{ form.percentuale(class="w3-input w3-border", placeholder="Percentuale", readonly="readonly") }}
            {% endif %}
        </div>
    
        <div class="form-group">
            <p>Data della prova</p>
            {% if form.enable_edit.data %}
                {{ form.data(class="w3-input w3-border") }}
            {% else %}
                {{ form.data(class="w3-input w3-border", disabled="disabled") }}
            {% endif %}
        </div>

        <div class="form-group">
            <p>Ora della prova</p>
            {% if form.enable_edit.data %}
                <input type="text" class="w3-input w3-border" id="ora_prova" name="ora_prova" value="{{ prova.ora_prova }}" onclick="enableEdit()">
            {% else %}
                <input type="text" class="w3-input w3-border" id="ora_prova" name="ora_prova" value="{{ prova.ora_prova }}" readonly>
            {% endif %}
        </div>
        
    
        <div class="form-group">
            <p>Data scadenza della prova</p>
            {% if form.enable_edit.data %}
                {{ form.data_scadenza(class="w3-input w3-border") }}
            {% else %}
                {{ form.data_scadenza(class="w3-input w3-border", disabled="disabled") }}
            {% endif %}
        </div>
    
        <div class="form-group">
            {% if form.enable_edit.data %}
                {{ form.submit(class="w3-btn w3-red w3-hover-green w3-border-black") }}
            {% else %}
                <button type="button" class="w3-btn w3-red w3-hover-green w3-border-black" onclick="enableEdit()">Modifica</button>
            {% endif %}
        </div>
    </form>
    
    <button id="goback" onclick="goBack()" class="button-goback">Indietro</button>
</body>
</html>