<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/goback.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <title>Pagina Prova</title>
</head>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Informazioni">
        <h1> Informazioni sulla prova </h1>
    </div>

    <div id="Test_Details">
        <h2> Nome della prova: {{ prova.nome_prova }}</h2>
        <p>Id Prova: {{ prova.idP }}</p>
        <p>Tipo Prova: {{ prova.tipo_prova }}</p>
        <p>Tipo Voto: {{ prova.tipo_voto }}</p>
        <p>Sufficienza: {{ prova.sufficienza }}</p>
        <p>Peso della prova: {{ prova.peso }}</p>
        <p>Data e Ora della Prova: {{ prova.data }} {{ prova.ora_prova }} </p>
        <p> Data di Scadenza della Prova: {{ prova.data_scadenza }} </p>
    </div>

    <div id="ListaStudentiIscritti">
        <h3>Lista degli Studenti iscritti:</h3>
        <table>
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                </tr>
            </thead>
            <tbody>
                {% for studente in lista_studenti %}
                <tr onclick="window.location.href='{{url_for('routes.student_page', idS=studente.idS)}}'">
                    <td> {{ studente.idS }}</td>
                    <td> {{ studente.nome }}</td>
                    <td> {{ studente.cognome }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>

    <br>
    
    <div class="container button-container">
        <button id="button_elimina_prova" type="button" onclick="confirmDeleteProva()" class="btn btn-danger">Elimina prova</button>
    </div>
    <button id="goback" onclick="goBack()" class="button-goback btn btn-secondary">Indietro</button>

    <script>
        function confirmDeleteProva() {
            var result = confirm("Conferma l'eliminazione della prova");
            if (result) {
                window.location.href = "{{ url_for('routes.delete_prova', idP=prova.idP) }}";
            }
        }
    </script>
</body>

</html>