<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/student.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Studente</title>
</head>

<body>

    <ul>
        <li><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Matricola" class="w3-container">
        <h1>Lista Matricole</h1>
    </div>
    <br>
    <div id="Lista_Esami" style="position: relative;">
        {% for studente in lista_studenti %}
            <div class="student-info">
                <p>ID: {{ studente.idS }}</p>
                <p>Nome: {{ studente.nome }}</p>
                <p>Cognome: {{ studente.cognome }}</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>