<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/student_page.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/goback.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina studente</title>
</head>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Studente">
        <h1> Informazioni sullo studente</h1>
    </div>

    <div id="Student_info">
        <p>Nome: {{ studente.nome }}</p>
        <p>Cognome: {{ studente.cognome }}</p>
        <p>Matricola: {{ studente.idS }}</p>
    </div>
    
    <div id="Lista_esami_iscritti">
        <h2>Lista esami iscritti</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome Esame</th>
                    <th>Anno Accademico</th>
                    <th>CFU</th>
                    <th>Appello</th>
                </tr>
            </thead>
            <tbody>
                {% for esame in lista_esami_iscritti %}
                    <tr>
                        <td>{{ esame.nome }}</td>
                        <td>{{ esame.anno_accademico }}</td>
                        <td>{{ esame.cfu }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    <div id="Lista_esami_passati">
        <h2>Lista esami passati</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome Esame</th>
                    <th>Anno Accademico</th>
                    <th>CFU</th>
                    <th>Voto</th>
                    <th>Data superamento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for esame in lista_esami_passati %}
                    <tr>
                        <td>{{ esame.nome }}</td>
                        <td>{{ esame.anno_accademico }}</td>
                        <td>{{ esame.cfu }}</td>
                        <td>{{ esame.registrazione_esame.voto }}</td>
                        <td>{{ esame.registrazione_esame.data_superamento }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <br>

    <button id="goback" onclick="goBack()" class="button-goback btn btn-secondary">Indietro</button>
</body>
</html>