<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/goback.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbalizzazione</title>
</head>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Verbalizzazione">
        <h1>Verbalizzazione</h1>
    </div>

    <div id="ListaStudentiIscritti" class="m1-2">
        <h3>Lista degli Studenti che hanno superato le prove:</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Matricola</th>
                        <th>idP</th>
                        <th>Data</th>
                        <th>Tipo prova</th>
                        <th>Tipo Voto</th>
                        <th>Peso prova</th>
                        <th>Voto</th>
                        <th>Sufficienza</th>
                        <th>Media dei voti</th>
                    </tr>
                </thead>
                <tbody>
                    {% set matricola_records = {} %}
                    {% set matricola_totals = {} %}
                    {% set matricola_has_non_bonus_records = {} %}
                    
                    {% for record in lista_voti_studenti %}
                        {% set matricola = record[0] %}
                        {% set voto = 0 %}
                        
                        {% set tipo_prova = record[4]|lower %}
                        {% set is_punti_bonus = tipo_prova == "punti bonus" %}
                
                        {% if not is_punti_bonus %}
                            {% set voto = record[5] / 100 * record[6] %}
                            {% set _ = matricola_has_non_bonus_records.update({matricola: true}) %}
                        {% endif %}
                
                        {% if matricola not in matricola_records %}
                            {% set _ = matricola_records.update({matricola: [record]}) %}
                        {% else %}
                            {% set _ = matricola_records[matricola].append(record) %}
                        {% endif %}
                
                        {% if not is_punti_bonus %}
                            {% if matricola not in matricola_totals %}
                                {% set _ = matricola_totals.update({matricola: voto}) %}
                            {% else %}
                                {% set _ = matricola_totals.update({matricola: matricola_totals[matricola] + voto}) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                    {% for matricola, records in matricola_records.items() %}
                        {% for record in records %}
                            <tr>
                                <td data-matricola="{{ record[0] }}"> {{ record[0] }} </td>
                                <td>{{ record[1] }}</td>
                                <td>{{ record[2] }}</td>
                                <td>{{ record[3] }}</td>
                                <td>{{ record[4] }}</td>
                                <td>{{ record[5] }}</td>
                                <td>{{ record[6] }}</td>
                                <td>{{ record[7] }}</td>
                            </tr>
                        {% endfor %}
                        {% if not matricola_has_non_bonus_records.get(matricola, false) %}
                            <tr>
                                <td colspan="8"></td>
                                <td>
                                    <div class="voto-block" step="0.01" data-matricola="{{ matricola }}" contenteditable="true">
                                        Inserisci voto
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        {% if matricola in matricola_totals %}
                            <tr>
                                <td colspan="8"></td>
                                <td>
                                    <div class="voto-block" step="0.01" data-matricola="{{ matricola }}" contenteditable="true">
                                        {{ matricola_totals[matricola] }}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                                                             
            </table>
        </div>
        <br>
    </div>

    <button id="VerbalizzaVoti" class="btn btn-primary" onclick="window.location.href='{{url_for('routes.exam_page', idE=idE)}}'">Verbalizza voti</button>
    
    <hr>
    <button id="goback" onclick="goBack()" class="button-goback btn btn-secondary">Indietro</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Voto da verbalizzare:</h3>
            <br>
            <ul id="percentualeVotoList"></ul>
            <p>Media: <input type="text" id="votoInput" readonly></p>
            <button id="verbalizzaBtn" class="btn btn-primary">Verbalizza</button>
        </div>
    </div>

    <script>

        document.getElementById("VerbalizzaVoti").addEventListener("click", function(event) {
            event.preventDefault();
            verbalizzaVoti();
        });
    
        function verbalizzaVoti() {
            const votoBlocks = document.querySelectorAll(".voto-block");
            const matricolaTotals = {};
        
            votoBlocks.forEach(votoBlock => {
                const matricola = votoBlock.dataset.matricola;
                const value = parseFloat(votoBlock.innerText);
                matricolaTotals[matricola] = value;
            });
            fetch("{{ url_for('routes.verbalizza_voti', idE=idE) }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(matricolaTotals),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                fetch("{{ url_for('routes.exam_page', idE=idE) }}")
                .then(response => response.text())
                .then(data => {
                    document.open();
                    document.write(data);
                    document.close();
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            })
            .catch(error => {
                console.error("Error:", error);
            });
        }        

        function roundToTwoDecimalPlaces() {
            console.log("Rounding function called!");
            const votoBlocks = document.querySelectorAll(".voto-block");
            votoBlocks.forEach(votoBlock => {
                const value = parseFloat(votoBlock.innerText);
                console.log("Value before rounding:", value);
                const roundedValue = Math.round(value * 100) / 100;
                console.log("Rounded value:", roundedValue);
                votoBlock.innerText = roundedValue.toFixed(2);
            });
        }
        roundToTwoDecimalPlaces();
    </script>
    
    
</body>
</html>