<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/goback.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbalizzazione</title>
</head>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Verbalizzazione">
        <h1>Verbalizzazione</h1>
    </div>

    <div id="ListaStudentiIscritti" class="m1-2">
        <h3>Lista degli Studenti che hanno superato le prove:</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Matricola</th>
                        <th>idP</th>
                        <th>Data</th>
                        <th>Data Scadenza</th>
                        <th>Tipo Voto</th>
                        <th>Percentuale</th>
                        <th>Voto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, group in lista_voti_studenti|groupby(0) %}
                    <tr>
                        <td>{{ key }} </td>
                        <td colspan="6"></td>
                    </tr>
                    
                    {% for record in group %}
                        <tr>
                            <td></td>
                            <td>{{ record[1] }}</td>
                            <td>{{ record[2] }}</td>
                            <td>{{ record[3] }}</td>
                            <td>{{ record[4] }}</td>
                            <td>{{ record[5] }}</td>
                            <td>{{ record[6] }}</td>
                        </tr>
                    {% endfor %}
                    {% set voto = 0 %}
                    {% set total_voto = 0 %}
                    {% for record in group %}
                        {% set voto = record[5]/100 * record[6] %}
                        {% set total_voto = total_voto + voto %}
                    <tr>
                        <td colspan="6"></td>
                        <td>
                            <div class="voto-block">{{ total_voto }}</div>    
                        </td>
                    </tr>
                    
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>

    <button id="VerbalizzaVoti" class="btn btn-primary">Verbalizza voti</button>
    <hr>
    <button id="goback" onclick="goBack()" class="button-goback btn btn-secondary">Indietro</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Voto da verbalizzare:</h3>
            <br>
            <ul id="percentualeVotoList"></ul>
            <p>Media: <input type="text" id="votoInput" readonly></p>
            <button id="verbalizzaBtn" class="btn btn-primary">Verbalizza</button>
        </div>
    </div>

    <script>
        
    </script>
    
    
</body>
</html>