<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/exam_page.css">
    <link rel="stylesheet" href="../static/goback.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='goback.css') }}">
    <title>Verbalizzazione</title>
</head>

<body>
    <ul>
        <li><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
        <li><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
    </ul>

    <div id="Informazioni" class="w3-container">
        <h1> Verbalizzazione </h1>
    </div>

    <div id="ListaStudentiIscritti">
        <h3>Lista degli Studenti iscritti:</h3>
        <table>
            <thead>
                <tr>
                    <th>Matricola</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                </tr>
            </thead>
            <tbody>
                {% for studente in lista_studenti %}
                <tr onclick="window.location.href='{{url_for('routes.student_page', idS=studente.idS)}}'">
                    <td> {{ studente.idS }}</td>
                    <td> {{ studente.nome }}</td>
                    <td> {{ studente.cognome }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    
</body>

</html>