<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/view_exams.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Esami</title>
</head>

<body>

    <ul>
        <li><a href="{{ url_for('routes.view_exams') }}">Lista esami</a></li>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Lista" class="w3-container">
        <h1>Lista di esami</h1>
    </div>

    <div id="Esami">
        <table>
            <tr>
                {% for esame in lista_esami %}
                <td>
                    <div class="exam-grid">
                        <a href="{{ url_for('routes.exam_page', idE=esame.idE) }}">{{ esame.idE }}</a>
                    </div>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    
</body>
</html>