<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/view_exams.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Esami</title>
</head>

<body>

    <ul>
        <li style="float:right"><a href="{{ url_for('routes.login') }}">Logout</a></li>
        <li style="float:right"><a href="{{ url_for('routes.create_exam') }}">Crea esame</a></li>
        <li style="float:right"><a href="{{ url_for('routes.homepage') }}">Homepage</a></li>
    </ul>

    <div id="Lista" class="w3-container">
        <h1>Lista di esami</h1>
    </div>

    <div id="Esami" class="container">
        <div class="row">
            {% for esame in lista_esami %}
            <div class="col-md-4">
                <a href="{{ url_for('routes.exam_page', idE=esame.idE) }}" class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ esame.idE }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>